@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.dashboard,
.enquiry,
.payment {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.sidebar{
  padding-top: 50px;
  background-color: #f5f6f8;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  max-height: 100%;
  float: left;
  top: 0;
  z-index: 1;
  box-shadow: none;
  transition-duration: .5s;
  overflow-y: scroll;
}
.main-content{
  margin-left: 250px;
    padding: 20px;
}
.searchbox input{
  margin-left: 10px;
  border: none;
}
.page-title{
  text-align: left;
  font-size: 22px;
  margin-top: 60px;
  font-weight: 500;
  margin-bottom: 20px;
}
.profileCardWrappper{
  display: flex;
  flex-wrap: wrap;
}
.profile-card{
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 100%;
  background-color: #fbfffe !important;
}
.profile-card:hover{
  background-color: #fff !important;
} 

.profileCardHeader{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.profileImgBox{
  border-radius: 50% !important;
  max-width: 300px;
  margin: 0 auto;
}
.surname{
  display: block;
}
.profile-card .card-title{
  text-transform: capitalize;
  font-size: 22px;
  margin: 10px 0;
}
.active-textbox{
  color: #78deb9;
  font-weight: 500;
  font-size: 16px;
}
.border-card{
  border: 2px dotted #d4d4d4 !important;
}
.border-card .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-card .card-body p{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.border-card .card-body span{
  display: block;
}
.progressBarBox{
  width: auto;
  margin: auto;
}
.available-profileBox{
  border-top: 1px solid #ededed;
  margin-top: 50px;
  padding-top: 20px; 
}
.available-profile-status{
  margin-bottom: 0;
  text-transform: capitalize;
}
.upgrade-box{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}
.upgrade-box button{
  background-color: transparent;
  color: #093f73;
  border-color: #b6b5b5;
}


/* navbar css */
/* .navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
} */

/* .menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
} */

.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
  margin-bottom: 100px;
}

.sidebarHeading{
  color: #3f4c87;
  text-transform: uppercase;
  margin-bottom: 10px;
}


.nav-menu ul{
  padding-left: 10px;
}
.nav-text {
  display: flex;
  justify-content: start;
  padding: 8px 0px;
  list-style: none; 
}

.nav-text a {
  text-decoration: none;
  color: #3f5264;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-text span {
  margin-left: 16px;
}

.helpText{
  color: #060b26;
  font-size: 18px;
}
.helpBoxWrapper{
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.helpBoxWrapper button{
  background-color: #1fe9b3;
  color: #fff;
}
.toggel-btn{
  display: none !important;
}
.progress{
  height: 0.35rem !important;
}

@media only screen and (max-width:991px){
  .toggel-btn{
      display: block !important;
      position: absolute;
      z-index: 99;
      right: 10px;
      top: 10px
  }
  .sidebar{
    left: -265px ;
  }
  .sidebar.active {
    left: 0px;
    transition: 350ms;
  }
  .main-content {
    margin-left: 0px;
  }
}

